<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDK_TrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HDK_TrayApp.Properties.Settings>
            <setting name="useCustomConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="targetCustomConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="graphicsCardType" serializeAs="String">
                <value />
            </setting>
            <setting name="useIRCamera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="promptSetLandscapeDisplayOrientation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shouldSetLandscapeDisplayOrientation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="promptServerConsoleClosing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="promptServerConsoleOpening" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shouldStartServerConsoleOpening" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useDefaultConfig" serializeAs="String">
                <value>True</value>
            </setting>
        </HDK_TrayApp.Properties.Settings>
    </userSettings>
</configuration>